.home{
	background-image: url('images/manlaptop1-1350x750.png');
	background-repeat: no-repeat;
	
}
.vh-100{
	height:100%;
}
/*--------percantage--------*/
.progress {
  width: 150px;
  height: 150px;
  background: none;
  position: relative;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}
.bar-color{
	border:#00a99d;
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

.body {
  background: #00a99d;
  background: -webkit-linear-gradient(to right, #ff7e5f, #feb47b);
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  min-height: 100vh;
}

.rounded-lg {
  border-radius: 1rem;
}

.text-gray {
  color: #aaa;
}

div.h4 {
  line-height: 1rem;
}
.back-color{
background-color:#00a99d;
}
/*------picture overlap------*/
#parent{
	position: relative;
	width:500px;
	height:500px;
}
.red{
	
	width: 400px;
	height: 400px;
	position:absolute;
	top:40;
	left:0;
	right:80;
	bottom:0;
	z-index:9
}
.green{
	
	width: 400px;
	height: 400px;
	position:absolute;
	top:0;
	left:0;
	
}
